(
  scout: (
    thrust:15.0,
    torque:15.0,

    linear_drag:0.8,
    angular_drag:1.0,

    texture_id:"fighter",

    size:(2.0, 2.0),

    hitbox: Triangle((
      a: (0.0, -1.0),
      b: (1.0, 1),
      c: (-1.0, 1),
    ))
  ),

    fighter: (
    thrust:600.0,
    torque:150.0,

    linear_drag:0.8,
    angular_drag:1.5,
    texture_id:"fighter",

    size:(2.0, 2.0),
    
    hitbox: Triangle((
      a: (0.0, -1.0),
      b: (16.0, 13.86),
      c: (-16.0, 13.86),
    ))
  ),
    freighter: (
    thrust:200.0,
    torque:150.0,

    linear_drag:0.2,
    angular_drag:2.0,

    texture_id:"fighter",
    
    size:(2.0, 2.0),

    hitbox: Triangle((
      a: (0.0, -13.86),
      b: (16.0, 13.86),
      c: (-16.0, 13.86),
    ))
  )
)
