(
  scout: (
    thrust:200.0,
    torque:10000.0,

    linear_drag:0.8,
    angular_drag:1.0,

    texture_id:"fighter",
    hitbox: Triangle((
      a: (0.0, -5.0),
      b: (5.0, 0.0),
      c: (-5.0, 0.0),
    ))
  ),

    fighter: (
    thrust:600.0,
    torque:150.0,

    linear_drag:0.8,
    angular_drag:1.5,
    texture_id:"fighter",
    hitbox: Triangle((
      a: (0.0, -13.86),
      b: (16.0, 13.86),
      c: (-16.0, 13.86),
    ))
  ),
    freighter: (
    thrust:200.0,
    torque:150.0,

    linear_drag:0.2,
    angular_drag:2.0,

    texture_id:"fighter",
    hitbox: Triangle((
      a: (0.0, -13.86),
      b: (16.0, 13.86),
      c: (-16.0, 13.86),
    ))
  )
)
