(
  scout: (
    thrust:200.0,
    angular_thrust:150.0,
    texture_id:"fighter",
    hitbox: Polygon(
      polygon: (
        points: [
          (x: 0.0, y: -13.86),
          (x: 16.0, y: 13.86),
          (x: -16.0, y: 13.86),
        ],
      ),
    ),
  ),

    fighter: (
    thrust:300.0,
    angular_thrust:200.0,
    texture_id:"fighter",
    hitbox: Polygon(
      polygon: (
        points: [
          (x: 0.0, y: -13.86),
          (x: 16.0, y: 13.86),
          (x: -16.0, y: 13.86),
        ],
      ),
    ),
  ),
    freighter: (
    thrust:100.0,
    angular_thrust:100.0,
    texture_id:"fighter",
    hitbox: Polygon(
      polygon: (
        points: [
          (x: 0.0, y: -13.86),
          (x: 16.0, y: 13.86),
          (x: -16.0, y: 13.86),
        ],
      ),
    ),
  ),
)
